.field{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #a60098;
  }
.title_in{
color: darkturquoise;
font-family: 'Courier New', Courier, monospace;
}

.serch{
color: aquamarine;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.serch_area{
color: coral;
font-family: 'Courier New', Courier, monospace;

}